body {
  background-color: #023047;
}

.title {
  height: 60px;
  padding: 10px; 
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047;
}

body {
  min-height: 100vh;
}

.loading-bar {
  width: 100%;
}
.loading-text {
  color: #bc9021;
}

.file-upload {
  display: none;
}
.file-upload-text {
  font-size: large;
  width: 100%;
  height: 100%;
  vertical-align: center;
}

.qr-image {
  height: 400px;
}
.qr-text {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    padding-top: 0px;
}

#btnBack {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 30px;
}